.banner {
  margin-top: 32px;
}

.banners__one {
  grid-template: 1fr/minmax(50px, 71px) minmax(auto, 575px) 1fr;
  background: #8172DD url(../../images/catalog/banners/Union1.webp) right no-repeat;
}
.banners__one .banner__info {
  grid-template: 81px auto 10px auto 20px auto 32px 65px 1fr/1fr;
}
.banners__one .banner__text {
  max-width: 440px;
}
.banners__one .banner__image {
  grid-template: 0px auto 1fr/1fr auto minmax(auto, 72px);
  position: relative;
}
.banners__one .banner__image img {
  position: absolute;
  z-index: 1;
  right: 90px;
  top: -17px;
}
.banners__one .banner__image-elipse-one {
  position: absolute;
  z-index: 0;
  top: -29px;
  left: 180px;
}
.banners__one .banner__image-elipse-two {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -170px;
}
.banners__three {
  background: #5F9DCA url(../../images/catalog/banners/Union.webp) right no-repeat;
}
.banners__three .banner__info {
  grid-template: 105px auto 16px auto 20px auto 31px 65px 1fr/1fr;
}
.banners__three .banner__image {
  grid-template: 124px auto 1fr/1fr auto minmax(auto, 138px);
}

.swiper {
  margin: 77px auto 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
}

.swiper-slide {
  height: 100%;
}

.swiper-button {
  position: absolute;
  z-index: 10;
  top: 50%;
  display: grid;
  -webkit-transform: translate(-50%, -18px);
          transform: translate(-50%, -18px);
  left: 50%;
  grid-template: 0px/auto 1fr auto;
}
.swiper-button__btn {
  grid-row: 1;
  cursor: pointer;
}
.swiper-button__prev {
  grid-column: 3;
}
.swiper-button__next {
  grid-column: 1;
}

.block-2 {
  height: 50px;
  background-color: red;
  margin: 0 auto;
}

.swiper-pagination {
  position: absolute;
  bottom: 31px;
  z-index: 10;
  width: 100%;
  display: none;
  grid-template: 8px/1fr 8px 24px 8px 24px 8px 1fr;
}
.swiper-pagination__item {
  background-color: rgba(255, 255, 255, 0.2);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.swiper-pagination__item-active {
  background-color: #fff;
}
.swiper-pagination__one {
  grid-row: 1;
  grid-column: 2;
}
.swiper-pagination__two {
  grid-row: 1;
  grid-column: 4;
}
.swiper-pagination__three {
  grid-row: 1;
  grid-column: 6;
}

@media (max-width: 1400px) {
  .banners__one .banner__image img {
    position: absolute;
    z-index: 1;
    right: 90px;
    top: 110px;
    width: 300px;
  }
  .swiper-slide {
    height: 100%;
  }
}
@media (max-width: 1200px) {
  .banners__one {
    min-height: 477px;
    grid-template: 1fr/minmax(30px, 50px) minmax(auto, 400px) 1fr;
  }
  .banners__one .banner {
    height: 100%;
    grid-template: 1fr/minmax(30px, 50px) minmax(auto, 350px) 1fr;
  }
  .banners__one .banner__info {
    grid-template: 1fr auto 10px auto 22px auto 29px 60px 30px 1fr/1fr;
  }
  .banners__one .banner__title {
    font-size: 42px;
  }
  .banners__one .banner__image img {
    position: absolute;
    z-index: 1;
    right: 50px;
    top: 105px;
  }
  .banners__one .banner__image-elipse-one {
    display: none;
  }
  .banners__one .banner__image-elipse-two {
    display: none;
  }
  .banners__three .banner__info {
    grid-template: 1fr auto 16px auto 20px auto 31px 60px 1fr/1fr;
  }
  .banners__three .banner__image {
    grid-template: 1fr auto 1fr/1fr auto minmax(auto, 70px);
  }
}
@media (max-width: 1000px) {
  .banners__one {
    grid-template: 1fr/minmax(30px, 50px) minmax(auto, 300px) 1fr;
  }
}
@media (max-width: 850px) {
  .banners__one {
    background: #8172DD url(../../images/catalog/banners/Union_adaptive.webp) 0 -45px/100% no-repeat;
    grid-template: 1fr 1fr/minmax(auto, 20px) 1fr minmax(auto, 20px);
    text-align: center;
  }
  .banners__one .banner__image {
    grid-row: 1;
    grid-column: 2;
    grid-template: 30px auto 1fr/1fr auto 1fr;
  }
  .banners__one .banner__image img {
    right: 60%;
    -webkit-transform: translateX(40px);
            transform: translateX(40px);
    top: 10px;
    max-width: 450px;
  }
  .banners__three {
    background: #5F9DCA url(../../images/catalog/banners/Union_adaptive.webp) 0 -45px/100% no-repeat;
    grid-template: 1fr 1fr/minmax(auto, 50px) 1fr minmax(auto, 50px);
    text-align: center;
  }
  .banners__three .banner__image {
    grid-row: 1;
    grid-column: 2;
    grid-template: 1.2fr auto 1fr/1fr auto 1fr;
  }
  .banners__three .banner__image img {
    max-width: 170px;
  }
}
@media (max-width: 650px) {
  .banners__one .banner__image img {
    right: 60%;
    top: 0px;
    max-width: 250px;
  }
}
@media (max-width: 600px) {
  .banner {
    margin-top: 0px;
  }
  .banners__one {
    min-height: none;
    grid-template: 0px 1fr/minmax(auto, 20px) 1fr minmax(auto, 20px);
  }
  .banners__one .banner {
    border-radius: 0;
  }
  .banners__one .banner__top-info {
    font-size: 16px;
  }
  .banners__one .banner__title {
    font-size: 24px;
  }
  .banners__one .banner__text {
    font-size: 14px;
  }
  .banners__one .banner__info {
    grid-template: 212px auto 15px auto 15px auto 20px 50px 1fr/1fr;
    max-width: 400px;
    margin: 0 auto;
  }
  .banners__one .banner__btn {
    height: 50px;
    max-width: 154px;
    line-height: 50px;
    font-size: 16px;
  }
  .banners__one .banner__image {
    grid-row: 1;
    grid-column: 2;
    grid-template: 1fr auto 1fr/1fr auto 1fr;
  }
  .banners__one .banner__image img {
    width: 200px;
    right: 75%;
    top: 25px;
  }
  .banners__three {
    background: #5F9DCA url(../../images/catalog/banners/Union_adaptive.webp) 0 -40px/100% no-repeat;
    height: 476px;
    grid-template: 205px auto/minmax(auto, 20px) 1fr minmax(auto, 20px);
  }
  .banners__three .banner__btn {
    max-width: 166px;
  }
  .banners__three .banner__info {
    grid-template: 21px auto 10px auto 15px auto 22px 50px 1fr/1fr;
  }
  .banners__three .banner__image {
    grid-template: 1.75fr auto 1fr/1fr auto 1fr;
  }
  .banners__three .banner__image img {
    max-width: 110px;
  }
  .swiper-button {
    display: none;
  }
  .swiper {
    margin: 70px auto 0;
  }
  .swiper-pagination {
    display: grid;
  }
}
@media (max-width: 450px) {
  .banners__one {
    height: 476px;
  }
  .banners__one .banner__image img {
    width: 210px;
    right: 66%;
    -webkit-transform: translateX(34px);
            transform: translateX(34px);
    top: 28px;
  }
  .banners__one .banner__info {
    grid-template: 212px auto 15px auto 15px auto 20px 50px 1fr/1fr;
  }
}
@media (max-width: 330px) {
  .banners__one {
    height: 464px;
    min-height: 464px;
  }
  .banners__one .banner__image img {
    width: 176px;
    right: 70%;
    -webkit-transform: translateX(34px);
            transform: translateX(34px);
    top: 24px;
  }
  .banners__one .banner__info {
    grid-template: 181px auto 15px auto 15px auto 20px 50px 1fr/1fr;
  }
  .banners__three {
    height: 464px;
    grid-template: 170px auto/minmax(auto, 20px) 1fr minmax(auto, 20px);
  }
  .banners__three .banner__info {
    grid-template: 21px auto 10px auto 15px auto 24px 50px 1fr/1fr;
  }
  .swiper-pagination {
    display: grid;
  }
}
.goods__menu {
  display: grid;
  max-width: 1800px;
  min-height: 1100px;
  margin: 0 auto;
  grid-template: 60px 1fr/minmax(30px, 1.15fr) minmax(auto, 220px) minmax(20px, 1fr) minmax(auto, 1039px) minmax(30px, 1.25fr);
  margin-bottom: 100px;
}
.goods__menu-list {
  grid-row: 2;
  grid-column: 2;
}
.goods__menu-main {
  -ms-flex-align: center;
      align-items: center;
  margin-top: 17px;
}
.goods__goods {
  height: 100%;
  grid-row: 2;
  grid-column: 4;
}
.goods__main {
  width: 100%;
  height: 1000px;
  background-color: rgb(223, 132, 132);
}
.goods__adaptine-menu {
  display: none;
}
.goods__button {
  font-family: Effra;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 100px;
  margin: 30px auto;
  display: none;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

#goods {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 32px;
}

.menu-two {
  display: grid;
  grid-template: 50px 26px 70px 25px 50px 22px 50px 21px 50px 23px 50px 22px 50px 22px 50px 22px 50px/20px 1fr 20px;
}
.menu-two__item {
  font-family: Effra;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  grid-column: 2;
}
.menu-two__item:hover {
  color: #FF7D4E;
}
.menu-two__item {
  cursor: pointer;
}
.menu-two__item:nth-child(1) {
  grid-row: 1;
}
.menu-two__item:nth-child(2) {
  grid-row: 3;
}
.menu-two__item:nth-child(3) {
  grid-row: 5;
}
.menu-two__item:nth-child(4) {
  grid-row: 7;
}
.menu-two__item:nth-child(5) {
  grid-row: 9;
}
.menu-two__item:nth-child(6) {
  grid-row: 11;
}
.menu-two__item:nth-child(7) {
  grid-row: 13;
}
.menu-two__item:nth-child(8) {
  grid-row: 15;
}
.menu-two__item:nth-child(9) {
  grid-row: 17;
  color: var(--red, #D32D2C);
}
.menu-two .active {
  color: #FF7D4E;
}

.banner-bottom {
  max-width: 1436px;
  padding: 0 20px;
  margin: 0 auto;
}

.comentar-title {
  font-family: Effra;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 1436px;
  padding: 0 20px;
  margin: 0 auto;
  display: grid;
  grid-template: 100px 73px 51px/1fr;
}
.comentar-title span {
  grid-row: 2;
  grid-column: 1;
  max-width: 440px;
}

.comentars {
  margin-bottom: 99px;
}

.btn-active {
  display: -ms-flexbox;
  display: flex;
}

.one-good {
  width: 325px;
  height: 479px;
  background-color: rgb(21, 83, 252);
  border-radius: 16px;
  font-size: 100px;
  display: grid;
  justify-items: center;
  -ms-flex-align: center;
      align-items: center;
}

.one-good2 {
  width: 325px;
  height: 479px;
  background-color: rgb(23, 155, 34);
  border-radius: 16px;
  font-size: 100px;
  display: grid;
  justify-items: center;
  -ms-flex-align: center;
      align-items: center;
}

@media (max-width: 1400px) {
  #goods {
    -ms-flex-pack: center;
        justify-content: center;
  }
}
@media (max-width: 900px) {
  .menu-two {
    grid-template: auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto/50px 1fr 50px;
  }
  .menu-two__item {
    padding: 10px 0;
  }
  .goods {
    transition: all 0.2s ease 0s;
  }
  .goods__menu {
    grid-template: 90px auto/minmax(20px, 1fr) auto minmax(20px, 1fr);
    margin-bottom: 100px;
  }
  .goods__adaptine-menu {
    display: block;
    font-family: Effra;
    font-size: 22px;
    font-weight: 500;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    -ms-flex-align: center;
        align-items: center;
    grid-template: 3fr auto 1fr/50px auto 1fr auto 50px;
    background-color: #fff;
    position: relative;
    z-index: 3;
  }
  .goods__adaptine-menu span {
    grid-row: 2;
    grid-column: 2;
  }
  .goods__adaptine-menu svg {
    grid-row: 2;
    grid-column: 4;
    transition: all 0.5s ease 0s;
  }
  .goods__menu-list {
    grid-row: 1;
    grid-column: 1/4;
    display: grid;
    grid-template: 1fr/1fr;
    position: relative;
  }
  .goods__menu-main {
    height: 450px;
    grid-column: 1;
    grid-row: 2;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0s ease 0s;
  }
  .goods__goods {
    grid-row: 2;
    grid-column: 2;
  }
  .adaptive-menu-active .goods {
    transition: all 0.3s ease 0s;
    padding-top: 580px;
  }
  .adaptive-menu-active .goods__menu-main {
    grid-column: 1;
    grid-row: 2;
    top: 0px;
    opacity: 1;
    transition: all 0.5s ease 0s;
  }
  .adaptive-menu-active .goods__adaptine-menu svg {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    transition: all 0.5s ease 0s;
  }
}
@media (max-width: 640px) {
  #goods {
    gap: 15px;
    margin-top: 47px;
  }
  .goods__menu {
    min-height: 0px;
    margin-bottom: 46px;
    grid-template: 58px auto/minmax(20px, 1fr) auto minmax(20px, 1fr);
  }
  .goods__adaptine-menu {
    display: block;
    font-family: Effra;
    font-size: 22px;
    font-weight: 500;
    grid-column: 1;
    grid-row: 1;
    display: grid;
    -ms-flex-align: center;
        align-items: center;
    grid-template: 1fr/20px auto 1fr auto 20px;
    background-color: #fff;
    position: relative;
    z-index: 3;
  }
  .goods__adaptine-menu span {
    grid-row: 1;
    grid-column: 2;
  }
  .goods__adaptine-menu svg {
    grid-row: 1;
    grid-column: 4;
    transition: all 0.5s ease 0s;
  }
  .banner-bottom {
    padding: 0;
  }
  .banner-bottom .banner {
    height: 461px;
    grid-template: 238px 1fr/minmax(auto, 20px) 1fr minmax(auto, 20px);
  }
  .banner-bottom .banner__info {
    grid-row: 2;
    grid-column: 2;
    grid-template: 21px auto 11px auto 15px auto 21px 50px 1fr/1fr;
  }
}
@media (max-width: 600px) {
  .menu-two {
    grid-template: auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto 10px auto/20px 1fr 20px;
  }
  .menu-two__item {
    font-size: 16px;
  }
  .goods__adaptine-menu {
    font-size: 16px;
  }
  .comentar-title {
    font-size: 20px;
    font-weight: 500;
    max-width: 272px;
    padding: 0 20px;
    margin: 0;
    grid-template: 59px 73px 5px/1fr;
  }
  .comentar-title span {
    grid-row: 2;
    grid-column: 1;
    max-width: 440px;
  }
  .comentars {
    margin-bottom: 61px;
  }
}
@media (max-width: 350px) {
  .banner-bottom .banner {
    height: 492px;
  }
  .comentar-title {
    font-size: 20px;
    font-weight: 500;
    max-width: 272px;
    padding: 0 20px;
    margin: 0;
    grid-template: 59px 84px 0px/1fr;
  }
  .comentar-title span {
    grid-row: 2;
    grid-column: 1;
    max-width: 440px;
  }
}