.product {
  background-color: #fff;
}

main {
  overflow: hidden;
}

.inform {
  position: relative;
  z-index: 3;
  grid-column: 2;
  grid-row: 1;
  display: grid;
  grid-template: 160px auto 58px auto 24px auto 87px/minmax(30px, 1fr) minmax(auto, 1394px) minmax(30px, 1fr);
}
.inform__title {
  grid-column: 2;
  grid-row: 2;
  font-family: Effra;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 682px;
}
.inform__info {
  grid-column: 2;
  grid-row: 4;
  font-family: Effra;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.inform__text {
  grid-column: 2;
  grid-row: 6;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 155.556% */
  max-width: 900px;
}
.inform__bg-img svg {
  position: absolute;
  z-index: -5;
}
.inform__bg-img svg:nth-child(1) {
  top: 18px;
  right: 36.15%;
}
.inform__bg-img svg:nth-child(2) {
  right: 0;
  top: 242px;
}
.inform__bg-img svg:nth-child(3) {
  right: 26.8%;
  bottom: -60px;
}

.goods-bottom {
  border-radius: 16px;
  background: #FAF8F6;
  max-width: 1516px;
  margin: 0 auto;
  height: 100%;
  display: grid;
  margin-bottom: 99px;
  grid-template: 60px auto 53px auto 49px auto 50px/60px 1fr 60px;
}
.goods-bottom__title {
  grid-column: 2;
  grid-row: 2;
  font-family: Effra;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.goods-bottom__goods {
  grid-column: 2;
  grid-row: 4;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  gap: 32px;
}
.goods-bottom__btn {
  grid-column: 2;
  grid-row: 6;
}
.goods-bottom__btn .oval-button {
  max-width: 330px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

@media (max-width: 990px) {
  .inform__bg-img svg {
    position: absolute;
    z-index: -5;
  }
  .inform__bg-img svg:nth-child(1) {
    top: 0px;
    width: 100px;
  }
  .inform__bg-img svg:nth-child(2) {
    right: 0;
    top: 242px;
    width: 140px;
  }
  .inform__bg-img svg:nth-child(3) {
    right: 26.8%;
    bottom: -60px;
    width: 90px;
  }
  .goods-bottom__btn .oval-button {
    max-width: 330px;
    margin: 0 auto;
    height: 56px;
    line-height: 56px;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .inform {
    grid-template: 120px auto 30px auto 19px auto 63px/minmax(20px, 1fr) minmax(auto, 1394px) minmax(21px, 1fr);
  }
  .inform__title {
    font-size: 24px;
    max-width: 227px;
  }
  .inform__info {
    font-size: 20px;
  }
  .inform__text {
    font-size: 14px;
    line-height: 24px;
  }
  .inform__bg-img svg {
    position: absolute;
    z-index: -5;
  }
  .inform__bg-img svg:nth-child(1) {
    top: 14.5px;
    right: 13.2%;
    width: 79px;
  }
  .inform__bg-img svg:nth-child(2) {
    right: -29px;
    top: 158px;
    width: 81px;
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  .inform__bg-img svg:nth-child(3) {
    right: 9%;
    bottom: -60px;
    width: 62px;
  }
  .goods-bottom {
    margin-bottom: 0;
    grid-template: 60px auto 45px auto 30px auto 46px/20px 1fr 20px;
  }
  .goods-bottom__title {
    font-size: 20px;
  }
  .goods-bottom__goods {
    gap: 15px;
  }
  .goods-bottom__btn {
    position: fixed;
    bottom: 15px;
    display: grid;
    justify-items: center;
    width: 100%;
    padding: 0 20px;
  }
  .goods-bottom__btn .oval-button {
    text-align: center;
    font-family: Effra;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
  }
  .fixed .goods-bottom {
    grid-template: 60px auto 45px auto 30px auto 46px/20px 1fr 20px;
  }
  .fixed .goods-bottom__btn {
    padding: 0;
    position: relative;
  }
}
@media (max-width: 350px) {
  .inform__title {
    max-width: 172px;
  }
  .inform__bg-img svg:nth-child(1) {
    top: 14.7px;
    right: 14.9%;
    width: 79px;
  }
}