.footer {
    background: #FAF8F6;
    display: grid;
    height: 350px;
    grid-template: auto / minmax(30px, 1fr) minmax(auto, 1400px) minmax(30px, 1fr);
    &__main{
        grid-column: 2;
        grid-row: 1;
        display: grid;
        grid-template: 60px 168px auto 20px / 1px 124px minmax(30px, 234px) 130px minmax(15px, 55px) 130px minmax(15px, 161px) 190px minmax(15px, 167px) 190px  1fr;
    }
    &__logo {
        grid-row: 2;
        grid-column: 2;
        display: grid;
        grid-template: 10px auto / 2px auto;
        img{
            grid-column: 2;
            grid-row: 2;
            width: 85.5px;
            height: 99px;
        }
    }
    &__info {
        font-family: Open Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        opacity: 0.3;
        grid-row: 3;
        grid-column: 2;
    }
    &__shop {
        grid-row: 2/4;
        grid-column: 4;
        display: grid;
        align-items: start;
        grid-template: 10px 30px 17px 40px 15px 20px 14px 20px 15px 20px / 1fr;
    }
    &__shop-title {
        grid-column: 1;
        grid-row: 2;
    }
    &__shop-link {
        &:nth-child(2){
            grid-column: 1;
            grid-row: 4;
        }
        &:nth-child(3){
            grid-column: 1;
            grid-row: 6;
        }
        &:nth-child(4){
            grid-column: 1;
            grid-row: 8;
        }
        &:nth-child(5){
            grid-column: 1;
            grid-row: 10;
        }
    }
    &__shop-two {
        grid-row: 2/4;
        grid-column: 6;
        display: grid;
        align-items: start;
        grid-template: 56px 30px 5px 30px 5px 30px 1fr  / 1fr;
    }
    &__shop-two-link {
        &:nth-child(1){
            grid-column: 1;
            grid-row: 2;
        }
        &:nth-child(2){
            grid-column: 1;
            grid-row: 4;
        }
        &:nth-child(3){
            grid-column: 1;
            grid-row: 6;
        }
    }
    &__information {
        grid-row: 2/4;
        grid-column: 8;
        display: grid;
        align-items: start;
        grid-template: 10px 30px 17px 20px 15px 20px 14px 20px 15px 20px 15px 20px / 1fr;
    }
    &__information-title {
        grid-column: 1;
        grid-row: 2;
    }
    &__information-link {
        &:nth-child(2){
            grid-column: 1;
            grid-row: 4;
        }
        &:nth-child(3){
            grid-column: 1;
            grid-row: 6;
        }
        &:nth-child(4){
            grid-column: 1;
            grid-row: 8;
        }
        &:nth-child(5){
            grid-column: 1;
            grid-row: 10;
        }
        &:nth-child(6){
            grid-column: 1;
            grid-row: 12;
        }
    }
    &__contact {
        grid-row: 2/4;
        grid-column: 10;
        display: grid;
        align-items: start;
        grid-template: 10px 30px 17px 20px 17px 22px 18px 22px 1fr / 1fr;
    }
    &__contact-title {
        grid-column: 1;
        grid-row: 2;
    }
    &__contact-link {
        display: grid;
        grid-template: 1fr / 22px 10px auto 1fr;
        img{
            grid-column: 1;
            grid-row: 1;
        }
        span{
            font-family: Open Sans;
            font-size: 14px;
            font-weight: 400;
            opacity: 0.5;
            line-height: 22px;
            grid-column: 3;
            grid-row: 1;
        }
        &:nth-child(2){
            grid-column: 1;
            grid-row: 4;
        }
        &:nth-child(3){
            grid-column: 1;
            grid-row: 6;
        }
        &:nth-child(4){
            grid-column: 1;
            grid-row: 8;
        }
    }
    &__title{
        font-family: Effra;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
    }
    &__link{
        font-family: Open Sans;
        font-size: 14px;
        font-weight: 400;
        opacity: 0.5;
        line-height: normal;
    }
}
@media (max-width: 1000px) {
    .footer {
        &__main{
            grid-column: 2;
            grid-row: 1;
            display: grid;
            grid-template: 60px auto auto 20px / auto 1fr auto 1fr auto 1fr auto ;
        }
        &__logo {
            grid-row: 2;
            grid-column: 1;
            margin: 0 auto;
            img{
                width: 63px;
                height: 75px;
            }
        }
        &__info {
            grid-row: 3;
            grid-column: 1;
            max-width: 124px;
        }
        &__shop {
            grid-row: 2;
            grid-column: 3;
            max-width: 130px;
        }
        &__shop-two {
            grid-row: 3;
            grid-column: 3;
            grid-template: 10px 30px 5px 30px 5px 30px 1fr  / 1fr;
            max-width: 130px;
        }
        &__information {
            grid-row: 2/4;
            grid-column: 5;
            max-width: 190px;
        }
        &__contact {
            grid-row: 2/4;
            grid-column: 7;
            width: 190px;
        }
    }
}
@media (max-width: 800px) {
    .footer {
        height: 100%;
        min-height: 500px;
        grid-template: auto / 5vw minmax(auto, 1400px) 5vw;
        &__main{
            grid-column: 2;
            grid-row: 1;
            display: grid;
            grid-template: 30px auto 30px auto auto 20px auto 10px auto 1fr / 190px 1fr 190px 1fr 190px;
        }
        &__logo {
            padding-right: 30px;
            grid-row: 2;
            grid-column: 1/6;
            img{
                width: 42px;
                height: 50px;
            }
        }
        &__info {
            grid-row: 9;
            grid-column: 1/4;
            max-width: 100%;
            margin-left: 3px;
        }
        &__shop {
            grid-row: 4;
            grid-column: 1;
            max-width: 130px;
            grid-template: 10px 30px 11px 40px 15px 20px 14px 20px 15px 20px / 3px 1fr;
        }
        &__shop-title {
            grid-column: 2;
            grid-row: 2;
        }
        &__shop-link {
            &:nth-child(2){
                grid-column: 2;
                grid-row: 4;
            }
            &:nth-child(3){
                grid-column: 2;
                grid-row: 6;
            }
            &:nth-child(4){
                grid-column: 2;
                grid-row: 8;
            }
            &:nth-child(5){
                grid-column: 2;
                grid-row: 10;
            }
        }
        &__shop-two {
            grid-row: 5;
            grid-column: 1;
            max-width: 130px;
            grid-template: 15px 30px 5px 30px 5px 30px 1fr / 3px 1fr;
        }
        &__shop-two-link {
            &:nth-child(1){
                grid-column: 2;
                grid-row: 2;
            }
            &:nth-child(2){
                grid-column: 2;
                grid-row: 4;
            }
            &:nth-child(3){
                grid-column: 2;
                grid-row: 6;
            }
        }
        &__information {
            grid-row: 4/6;
            grid-column: 3;
            max-width: 190px;
            grid-template: 9px 30px 12px 40px 15px 20px 14px 20px 15px 20px 15px 20px / 20px 1fr ;
        }
        &__information-title {
            grid-column: 2;
            grid-row: 2;
        }
        &__information-link {
            &:nth-child(2){
                grid-column: 2;
                grid-row: 6;
            }
            &:nth-child(3){
                grid-column: 2;
                grid-row: 8;
            }
            &:nth-child(4){
                grid-column: 2;
                grid-row: 10;
            }
            &:nth-child(5){
                grid-column: 2;
                grid-row: 4;
            }
            &:nth-child(6){
                grid-column: 2;
                grid-row: 12;
            }
        }
        &__contact {
            grid-row: 4/6;
            grid-column: 5;
            width: 190px;
            grid-template: 10px 30px 12px 20px 15px 22px 14px 22px 1fr / 3px 1fr;
        }
        &__contact-title {
            grid-column: 2;
            grid-row: 2;
        }
        &__contact-link {
            display: grid;
            grid-template: 1fr / 22px 10px auto 1fr;
            img{
                grid-column: 1;
                grid-row: 1;
            }
            span{
                font-family: Open Sans;
                font-size: 14px;
                font-weight: 400;
                opacity: 0.5;
                line-height: 22px;
                grid-column: 3;
                grid-row: 1;
            }
            &:nth-child(2){
                grid-column: 2;
                grid-row: 4;
            }
            &:nth-child(3){
                grid-column: 2;
                grid-row: 6;
            }
            &:nth-child(4){
                grid-column: 2;
                grid-row: 8;
            }
        }
    }
}
@media (max-width: 600px) {
        .footer {
            min-height: 694px;
            grid-template: auto / 10vw minmax(auto, 1400px) 5vw;
            &__main{
                grid-column: 2;
                grid-row: 1;
                display: grid;
                grid-template: 30px auto 30px auto auto 20px auto 40px auto 1fr / 130px 1fr auto ;
            }
            &__information {
                grid-row: 4/6;
                grid-column: 3;
            }
            &__contact {
                grid-row: 7;
                grid-column: 1/4;
            }
        }
    }

@media (max-width: 400px) {
    .footer {
        min-height: 694px;
        grid-template: auto / minmax(17px, 1fr) minmax(auto, 1400px) minmax(10px, 1fr);
        &__logo {
            grid-row: 2;
            grid-column: 1;
            margin: 0;
        }
    }
}
@media (max-width: 325px) {
    .footer {
        &__main{
            grid-template: 30px auto 30px auto auto 20px auto 40px auto 1fr / 130px 1fr 141px ;
        }
        &__information {
            grid-template: 10px 30px 12px 40px 13px 20px 14px 20px 15px 20px 15px 20px / 0px 1fr ;
        }
        &__information-link {
            &:nth-child(5){
                max-width: 130px;
            }
        }
    }
}