.wholesale-after {
    position: relative;
    display: grid;
    grid-template: minmax(100px , 1fr ) 351px 0.789fr 62px / 1fr minmax(auto, 920px) 1fr;
    height: 100vh;
    &__create-account {
        grid-column: 2;
        grid-row: 4;
        padding: 0 20px;
        text-align: center;
        font-family: Open Sans;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        a{
            color: #FF7D4E;
        }
    }
}
.sing-in {
    grid-template: 61px 32px 8px 28px 22px 56px 20px 65px 1fr/ 1fr minmax(auto, 444px) 1fr;
    &__title {
        grid-row: 2;
        grid-column: 2;
    }
    &__info {
        grid-row: 4;
        grid-column: 2;
    }
    &__permission{
        position: relative;
        display: block;
        grid-row: 6;
        grid-column: 2;
    }
    &__permission-btn{
        position: absolute;
        right: 10px;
        top: 10px;
        width: 104px;
        height: 36px;
        border-radius: 12px;
        background: #FF7D4E;
                /* Скрыть стандартный input типа file */
        input[type="file"] {
            display: none;
        }
        label{
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
            color: #FFF;
            text-align: center;
            font-family: Open Sans;
            font-size: 12px;
            font-style: normal;
            font-weight: 700;
            line-height: 27px;
        }
        /* Стилизуем кастомную кнопку */
        .custom-file-upload {
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    }
    &__btn {
        width: 100%;
        grid-row: 8;
        grid-column: 2;
    }

}
@media (max-width:600px) {
    .wholesale-after {
        display: block;
        &__create-account {
            display: grid;
            grid-template: 21px auto 42px / 1fr ;
            font-size: 14px;
            span{
                grid-column: 1;
                grid-row: 2;
            }
        }
    }
    .sing-in {
        grid-column: 1;
        grid-row: 2;
        grid-template: 48px 29px 6px 28px 15px 56px 20px 56px 1fr / 20px 1fr 20px;
    }
}

