<footer class="footer">
    <div class="footer__main">
        <div class="footer__logo">
            <img src="{{add}}assets/images/svg/header-icon.svg" alt="">
        </div>
        <div class="footer__info"><span>© 2020 Vitamins.com / All rights reserved</span></div>
        <div class="footer__shop">
            <div class="footer__shop-title footer__title">Shop</div>
            <a href="/dist/catalog.html" onclick="filtration(2)" class="footer__shop-link footer__link">Vitamins & Dietary Supplements</a>
            <a href="/dist/catalog.html" onclick="filtration(3)" class="footer__shop-link footer__link">Weight Loss</a>
            <a href="/dist/catalog.html" onclick="filtration(4)" class="footer__shop-link footer__link">Minerals</a>
            <a href="/dist/catalog.html" onclick="filtration(5)" class="footer__shop-link footer__link">Antioxidants</a>
        </div>
        <div class="footer__shop-two">
            <a href="/dist/catalog.html" onclick="filtration(6)" class="footer__shop-two-link footer__link">Probiotics</a>
            <a href="/dist/catalog.html" onclick="filtration(7)" class="footer__shop-two-link footer__link">Pain Relief</a>
            <a href="/dist/catalog.html" onclick="filtration(8)" class="footer__shop-two-link footer__link">Prenatal Vitamins</a>
        </div>
        <div class="footer__information">
            <div class="footer__information-title footer__title">Information</div>
            <a href="/dist/text-sample.html" class="footer__information-link footer__link">Terms & Conditions</a>
            <a href="/dist/text-sample.html" class="footer__information-link footer__link">Privacy Policy</a>
            <a href="/dist/text-sample.html" class="footer__information-link footer__link">Shipping & Delivery</a>
            <a href="/dist/text-sample.html" class="footer__information-link footer__link">Subscription Cycle & Billing</a>
            <a href="/dist/text-sample.html" class="footer__information-link footer__link">Return Policy</a>
        </div>
        <div class="footer__contact">
            <div class="footer__contact-title footer__title">Contact</div>
            <a href="/dist/text-sample.html" class="footer__contact-link footer__link">support@medstogo.com</a>
            <a href="/dist/text-sample.html" class="footer__contact-link"><img src="{{add}}assets/images/svg/f-b.svg" alt=""><span>Facebook</span></a>
            <a href="/dist/text-sample.html" class="footer__contact-link"><img src="{{add}}assets/images/svg/insta.svg" alt=""><span>Instagram</span></a>
        </div>
    </div>
</footer>


