<meta charset="UTF-8">
<meta name="description" content="Метаописание">
<link rel="icon" type="image/png" href="/dist/assets/images/svg/header-icon.svg">
<link rel="stylesheet" href="{{add}}assets/css/reset.min.css">
<link rel="stylesheet" href="{{add}}assets/css/style.min.css">
<link rel="stylesheet" href="{{add}}assets/css/component/small-component.min.css">
<link rel="stylesheet" href="{{add}}assets/css/component/header.min.css">
<link rel="stylesheet" href="{{add}}assets/css/component/basket-produst.min.css">
<link rel="stylesheet" href="{{add}}assets/css/component/footer.min.css">
<link rel="stylesheet" href="{{css-component-one}}">
<link rel="stylesheet" href="{{css-component-two}}">
<link rel="stylesheet" href="{{css-component-three}}">
<link rel="stylesheet" href="{{css-component-four}}">
<link rel="stylesheet" href="{{link-pages}}">
<link rel="stylesheet" href="{{link-pages-setting}}">

<!-- Useful meta tags -->
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">
<meta name="description" content="">

<title>{{ title }}</title>


  
  
  
  
  
  