<!DOCTYPE html>
<html lang="en">
<head>
    {{> head }}
</head>
<body>
    <script>
        function checkForTouchScreen() {
            if ('ontouchstart' in window || navigator.maxTouchPoints) {
                document.body.classList.remove('non-touch-device');
                document.body.classList.add('touch-device');
            } else {
                document.body.classList.remove('touch-device');
                document.body.classList.add('non-touch-device');
            }
        }
        checkForTouchScreen();
        window.addEventListener('resize', checkForTouchScreen);
        window.addEventListener('orientationchange', checkForTouchScreen);
    </script>
    <div class="basket-active-bg"></div>
    {{> body }}

    <script src="{{script-three}}"></script>
    <script defer src="{{script-one}}"></script>
    <script src="{{script-two}}"></script>
    <script defer src="{{script-four}}"></script>
    <script type="module" src="{{script-registration-check}}" ></script>
    <script type="module" src="{{script-sing-exit}}" ></script>
    <script type="module" src="{{script-module}}" ></script>
</body>
</html>
